.site-nav, .features-icons-cont, .doing-list__element, .social-list, .social-list__link, .client__button, .footer-social__link, .modal__close-button, .contact-form-policy__label, .button__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-form__button--text, .button__send, .photo-nav__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button--text:hover, .button__send:hover, .photo-nav__button:hover, .subscribe-form__button--text:focus, .button__send:focus, .photo-nav__button:focus {
  background-color: #188ce8;
}

.section-features__title, .section-doing__title, .section-team__title, .client-section__title, .section-portfolio__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  bottom: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .container-header {
    height: 80px;
  }
}

.container-header .mob-menu__button-open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .container-header .mob-menu__button-open {
    display: none;
  }
}

.mobile-btn__focus:hover, .mobile-btn__focus:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
}

.logo__web {
  color: #2196f3;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  display: block;
  position: absolute;
  margin-top: 29px;
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.auth-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    font-size: 12px;
    line-height: 1.167;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    font-size: 14px;
    line-height: 1.14;
    margin-left: 305px;
  }
}

.auth-nav__item--mb {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .auth-nav__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
  }
  .auth-nav__item:not(:first-child) {
    margin-left: 30px;
  }
}

.auth-nav__link {
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.auth-nav__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  text-align: center;
}

.auth-nav__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;
  overflow-y: scroll;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.mob-menu .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__button-close {
  position: absolute;
  top: -38px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background: #ffffff;
}

.mob-menu__button-close:hover, .mob-menu__button-close:focus {
  fill: #2196f3;
}

.mob-site-nav__item {
  margin-bottom: 32px;
}

.mob-site-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-site-nav__link:hover, .mob-site-nav__link:focus {
  color: #2196f3;
}

.mob-site-nav__link--current {
  color: #2196f3;
}

.mob-auth-nav__list {
  margin-bottom: 64px;
}

.mob-auth-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-auth-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-auth-nav__link:hover, .mob-auth-nav__link:focus {
  color: #2196f3;
}

.mob-auth-nav__link--size {
  font-size: 34px;
  line-height: 1.18;
  color: #2196f3;
}

@media screen and (max-width: 376px) {
  .mob-auth-nav__link--size {
    font-size: 27px;
  }
}

.mob-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/mob-bg-hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/mob-bg-hero.jpg);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/tab-bg-hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/tab-bg-hero.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/pc-bg-hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/pc-bg-hero.jpg);
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/mob-bg-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/mob-bg-hero@2x.jpg);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/tab-bg-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/tab-bg-hero@2x.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/pc-bg-hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url(../images/pc-bg-hero@2x.jpg);
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.features-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.features-list__title {
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-icons-cont {
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-icons-cont__icon {
  margin: 25px 0;
}

.section-doing {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-doing {
    display: none;
  }
}

.section-doing__title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .section-doing__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.doing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doing-list__item {
  position: relative;
}

.doing-list__element {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
  width: 100%;
}

.section-team__title {
  font-size: 28px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list__item {
  background-color: #ffffff;
  max-width: 450px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.team-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-list__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: 10px;
}

.team-list__profession {
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: 16px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.client-section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 1200px) {
  .client-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.client {
  margin-left: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .client {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.client__button {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__button:hover, .client__button:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

footer {
  background-color: #2F303A;
}

.footer {
  padding: 60px 15px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

.footer-logo {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logo--white {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo--blue {
  color: #2196f3;
}

.footer__address,
.footer__mail,
.footer__phone {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
  text-decoration: none;
}

.footer__address:hover, .footer__address:focus,
.footer__mail:hover,
.footer__mail:focus,
.footer__phone:hover,
.footer__phone:focus {
  color: #2196f3;
}

.footer__address {
  margin-top: 20px;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail,
.footer__phone {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__phone {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    padding-left: 70px;
    padding-top: 0;
  }
}

.footer-social__slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social__slogan {
    padding-top: 0;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscribe-form {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    text-align: left;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__flex-mix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.subscribe-form__slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__slogan {
    padding-top: 0;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background: rgba(47, 48, 58, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .subscribe-form__input {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin: 0 12px 0 0;
  }
}

.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.subscribe-form__button--text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
}

.subscribe-form__button--icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 93px 15px;
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal {
  position: relative;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__close-button:hover {
  fill: #2196f3;
}

/* modal form */
.form {
  margin: 0 auto;
  padding: 40px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.contact-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
  margin: 0;
}

.contact-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.contact-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  padding-right: 16px;
  color: #212121;
  resize: none;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input--height {
  height: 40px;
}

.contact-form__input--comment {
  padding: 12px 16px;
}

.contact-form__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__input::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .contact-form__input::-webkit-input-placeholder {
    line-height: 1.167;
  }
  .contact-form__input:-ms-input-placeholder {
    line-height: 1.167;
  }
  .contact-form__input::-ms-input-placeholder {
    line-height: 1.167;
  }
  .contact-form__input::placeholder {
    line-height: 1.167;
  }
}

.contact-form__input:focus {
  border: 1px solid #2196f3;
}

.contact-form__input:focus + .contact-form__icon {
  fill: #2196f3;
}

.contact-form__icon {
  position: absolute;
  bottom: 21px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-policy {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .contact-form-policy {
    padding-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-form-policy__label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 362px) {
  .contact-form-policy__label {
    font-size: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form-policy__label {
    font-size: 14px;
    line-height: 1.714;
  }
}

.contact-form-policy__label--rules {
  color: #2196f3;
  margin-left: 5px;
}

.contact-form-policy__checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.contact-form-policy__input:checked + .contact-form-policy__checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.button__send {
  min-width: 200px;
}

.photo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
  margin-left: -8px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .photo-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .photo-nav {
    padding-bottom: 50px;
  }
}

.photo-nav__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .photo-nav__item {
    margin-bottom: 0;
  }
}

.photo-nav__button {
  color: #212121;
  background-color: #f5f4fa;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-nav__button:hover, .photo-nav__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-nav__button--primary {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-cards {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .photo-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.card {
  margin-bottom: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.card:hover, .card:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.card__career {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */