/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider {
  min-width: 0;
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 92.5%;
  z-index: 10;
  font-size: 0;
  width: 35px;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: 30%;
  background: url('../images/next.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 30%;
  background: url('../images/next.png') 0 0 / 100% no-repeat;
}

.slider-item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.slider-item__img {
  padding-bottom: 8px;
}

.slider-item__text {
  width: 280px;
  margin-bottom: 32px;
}

.slider-item__number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ab816c;

  padding-bottom: 30px;
}
