$primary-text-color: #757575;
$titile-text-color: #212121;
$white-text-color: #ffffff;
$accent-text-color: #2196f3;

$primary-bg-color: #ffffff;
$black-logo-color: #000;
$grey-bg-color: #f5f4fa;
$button-bg-color: #f5f4fa;
$focus-button-bg-color: #2196f3;
$focus-button-bg-color-order: #188ce8;
$icon-bg-color: #afb1b8;

$overlay-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

// $mobile: 480px;
// $tablet: 768px;
// $pc: 1200px;
